/*ウェブフォントを使用する場合はここに定義を追加して下さい*/

@font-face {
	font-family: "ChillRound";
	font-weight: normal;
	font-style: normal;
	src: url('../../data/others/font/ChillRoundGothic_Light.ttf')  format('truetype'),
		 url('../../data/others/font/ChillRoundGothic_Light.woff') format('woff'),
		 url('../../data/others/font/ChillRoundGothic_Light.svg')  format('svg');
}